.header-logout-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 16px; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.custom-tooltip .tooltip-inner {
  background-color: rgb(89, 88, 88);
  max-width: 250px; 
  text-align: left; 
}
.custom-tooltip.bs-tooltip-bottom .arrow::before {
  border-bottom-color: white;
}

.header-logo-image {
  width: 110px;  /* 원하는 이미지 크기 */
  height: auto; /* 비율 유지 */
}
