.mypage_content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.post_title h5.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.user_info {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.user_info p {
  margin: 5px 0;
}