.contact-section {
    background-image: url('../img/reservation.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 326px;
}