<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Spring Boot JPA & Security</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container mt-3">
  <h2>Spring Boot JPA & Security</h2>
  <div class="card">
    <div class="card-header d-flex justify-content-center align-items-center">
      <div th:if="${error}" class="form-group mr-2">
        <p style="color: red;">Login failed, please try again.</p>
      </div>
      <div th:if="${logout}" class="form-group mr-2">
        <p style="color: green;">You have been logged out successfully.</p>
      </div>

      <!-- 로그인 폼 -->
      <form class="form-inline" th:action="@{/loginProcess}" method="post"
            th:if="${not #authorization.expression('isAuthenticated()')}">
        <div class="form-group mr-2">
          <label for="email">Email:</label>
          <input type="email" class="form-control" placeholder="Email" name="username" id="email" required>
        </div>
        <div class="form-group mr-2">
          <label for="password">Password:</label>
          <input type="password" class="form-control" placeholder="Password" name="password" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Login</button>
      </form>

      <!-- 로그아웃 버튼 -->
      <form th:action="@{/logout}" method="post" class="form-inline"
            th:if="${#authorization.expression('isAuthenticated()')}">
        <p>Logged in as: <span th:text="${#authentication.principal.member.nickname}"></span></p>
        <button type="submit" class="btn btn-primary btn-sm">Logout</button>
        <ul>
          <li th:each="role : ${#authentication != null ? #authentication.authorities : {}}"
              th:text="${role.authority}"></li>
        </ul>
      </form>

      <div class="mx-2">
        <a th:href="@{/member/memberRegister}" class="btn btn-sm btn-secondary">Register</a>
      </div>
    </div>

    <div class="card-body">
      contents
    </div>
    <div class="card-footer">DevBox 임시 페이지</div>
  </div>
</div>

</body>
</html>
