.password-button {
    border-radius: 20px;
    border: 1px solid #6266EA;
    background-color: #6266EA;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
.password-button:hover {
  background-color: #4a4fb7;
  transform: scale(1.02);
}

.cancel-button {
  border-radius: 20px;
  border: 1px solid #ff6b6b;
  background-color: #ff6b6b;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  margin-top: 10px;
}

.password-input {
  width: 100%;
  max-width: 500px;
  padding: 5px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  /* border-radius: 25px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

